<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz Competition</h1>
    <p class="col-md-8 fs-4">This quiz will contains total 10 questions. Each Question holds 10 Points</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct Question gives you 10 points</li>
        <li>Incorrect question gives to -10 points</li>
        <li>You will have 60 sec to answer each question</li>
        <li>Refereshing the page will reset the Quiz</li>
    </ol>
    
    <div class="name col-md-4 my-3">
        <label for="">Enter Examiner ID:</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-outline-danger btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button>
</div>